
$c-primary: #5882d5;
$c-secondary: #6c757d;
$c-tertiary: #000000;
$c-white: #ffffff;

$bg-primary: #ffffff;
$bg-secondary: #c2c2c2;


$border-radius-circle: 50%;

$c-text: #212529;
$c-muted: #868e96;

$font-family-base: 'Montserrat', 'Roboto', sans-serif;
$font-size-generic: 16px;


$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
