.boxppal {

    .boxfilter {
        margin: 30px;
    }



    .boxppal__card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        width: 80%;
        margin: 3% auto;
    }

    .boxppal__not-found {
        text-align: center;
    }


}